<div class="card">
    <img src="{{image_url}}" class="beers-images card-img-top" alt="{{name}}">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text"><small class="text-muted">{{tagline}}</small></p>
        <p class="card-text">{{description}}</p>
    </div>
</div>